{% extends 'hospital/base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-30 well" style="background-color: #fac403; text-align: center; justify-content: center">
         <h1>Hospital UW About!</h1>
        <hr style="border-top:1px dotted #000;"/>
    </div>
    <div class="col-md-4">
        <img src="{% static "picture/about.jpg" %}" alt="deneme" style="width:720px;height:400px">
    </div>
    <div class="col-md-12">
        <h1> </h1>
        <h2><a class="article-title">To get direction, please click the link below...</a></h2>
          <a href="https://www.google.com/maps/place/Radomska+11,+02-346+Warszawa/@52.2160279,20.976242,17z/data=!3m1!4b1!4m5!3m4!1s0x471ecca3565eda63:0xc6f9cf7cf78349e!8m2!3d52.2160246!4d20.9784307">
            <img src="{% static "picture/contact.png" %}" alt="deneme" style="width:720px;height:180px">
          </a>
    </div>
{% endblock content %}