{% extends 'hospital/base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-30 well" style="background-color: #fac403; text-align: center; justify-content: center">
         <h1>Hospital UW About!</h1>
        <hr style="border-top:1px dotted #000;"/>
    </div>
    <div class="col-md-4">
        <img src="{% static "picture/about.jpg" %}" alt="deneme" style="width:720px;height:400px">
    </div>
    <div class="col-md-12">
        <h1> </h1>
        <h2><a class="article-title">To get direction, please click the link below...</a></h2>
          <a href="https://www.google.com/maps/dir/52.2159496,20.9782185/Radomska+11,+02-346+Warszawa/@52.2162135,20.9762583,17z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x471ecca3565eda63:0xc6f9cf7cf78349e!2m2!1d20.9784307!2d52.2160246!3e2">
            <img src="{% static "picture/contact.png" %}" alt="deneme" style="width:720px;height:180px">
          </a>
    </div>
{% endblock content %}