{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'hospital/main.css' %}">

    {% if title %}
        <title>Hospital UW - {{ title }}</title>
    {% else %}
        <title>Hospital UW</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'hospital-home' %}">Hospital UW</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'hospital-doctor' %}">Doctor</a>
              <a class="nav-item nav-link" href="{% url 'hospital-patient' %}">Patient</a>
              <a class="nav-item nav-link" href="{% url 'hospital-visit' %}">Visit</a>
              <a class="nav-item nav-link" href="{% url 'hospital-v-process' %}">Visit Process</a>
              <a class="nav-item nav-link" href="{% url 'hospital-diagnosis' %}">Diagnosis</a>
                <a class="nav-item nav-link" href="{% url 'hospital-service' %}">Service</a>
              <a class="nav-item nav-link" href="{% url 'hospital-salary' %}">Salary</a>
              <a class="nav-item nav-link" href="{% url 'hospital-results' %}">Results & Services & Prices</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'hospital-home' %}">Hospital</a>
              <a class="nav-item nav-link" href="{% url 'hospital-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'users-login' %}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Health</h3>
              <ul class="list-group">
                  <a href="{% url 'hospital-home' %}">
                    <img src="{% static "picture/logo.png" %}" alt="logo" style="width:250px;height:100px">
                  </a>
                  <a class="nav-item nav-link" href="#"></a>
                  <a href="https://www.who.int/">
                    <img src="{% static "picture/who.png" %}" alt="logo" style="width:250px;height:100px">
                  </a>
                  <a class="nav-item nav-link" href="#"></a>
                  <a href="https://www.gov.pl/web/zdrowie">
                    <img src="{% static "picture/pl_health.png" %}" alt="logo" style="width:250px;height:100px">
                  </a>
                  <a class="nav-item nav-link" ></a>
                  <a href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?">
                    <img src="{% static "picture/worldometer.jpg" %}" alt="logo" style="width:250px;height:100px">
                  </a>
              </ul>
            </p>
          </div>
          <div class="content-section">
            <h3>Hospital Add</h3>
            <p class='text-muted'>You can reach useful links about hospital.
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'hospital-doctor-add' %}">Doctor Add</a>
                <a class="nav-item nav-link" href="{% url 'hospital-patient-add' %}">Patient Add</a>
                <a class="nav-item nav-link" href="{% url 'hospital-visit-add' %}">Visit Add</a>
                <a class="nav-item nav-link" href="{% url 'hospital-visit-add-process' %}">Visit Process Add</a>
                <a class="nav-item nav-link" href="{% url 'hospital-diagnosis-add' %}">Diagnosis Add</a>
                <a class="nav-item nav-link" href="{% url 'hospital-service-add' %}">Service Add</a>
              </ul>
            </p>
          </div>
          <div class="content-section">
            <h3>Hospital Update</h3>
            <p class='text-muted'>You can reach useful links about hospital.
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'hospital-doctor-update' %}">Doctor Off Day Update</a>
                <a class="nav-item nav-link" href="{% url 'hospital-patient-update' %}">Patient Phone Update </a>
                <a class="nav-item nav-link" href="{% url 'hospital-v-process-update' %}">Visit Process Update</a>
                 <a class="nav-item nav-link" href="{% url 'hospital-service-update' %}">Service price update</a>
                <a class="nav-item nav-link" href="{% url 'hospital-salary-update' %}">Salary update</a>
              </ul>
            </p>
          </div>
          <div class="content-section">
            <h3>Hospital Delete</h3>
            <p class='text-muted'>You can reach useful links about hospital.
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'hospital-doctor-delete' %}">Doctor delete</a>
                <a class="nav-item nav-link" href="{% url 'hospital-patient-delete' %}">Patient delete</a>
                <a class="nav-item nav-link" href="{% url 'hospital-visit-delete' %}">Visit delete</a>
                <a class="nav-item nav-link" href="{% url 'hospital-visit-delete-process' %}">Visit Process delete</a>
                <a class="nav-item nav-link" href="{% url 'hospital-diagnosis-delete' %}">Diagnosis delete</a>
                <a class="nav-item nav-link" href="{% url 'hospital-service-delete' %}">Service delete</a>
              </ul>
            </p>
          </div>
          <div class="content-section">
            <h3>Useful Links</h3>
            <p class='text-muted'>You can reach useful links about hospital.
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'hospital-adv-1' %}">Select average salary for every doctor title with count of visit process diagnosis is cancer greater than 2.</a>
                <a class="nav-item nav-link" href="{% url 'hospital-adv-2' %}">Select doctors who have maximum salary in each title and show them with additional column and put '*' sign, otherwise ' '</a>
                <a class="nav-item nav-link" href="{% url 'hospital-adv-3' %}">Select patients whose names are not include ‘e’ or select patients who have visit type as 'inpatient' or select male patients who have and have doctor with salary greater than 5000.</a>
                <a class="nav-item nav-link" href="{% url 'hospital-adv-4' %}">Select total service cost in March 2020. </a>
                <a class="nav-item nav-link" href="{% url 'hospital-adv-5' %}">Select visit processes and information about patients who use service unit price greater than 100 with yearly income of their doctors who has professor title.</a>
                <a class="nav-item nav-link" href="{% url 'hospital-adv-6' %}">Select all each diagnosis for youngest female patients.</a>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>