{% extends 'hospital/base.html' %}
{% block content %}
    {% for post in abc %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.TITLE }} {{ post.DEPARTMENT }}</a>
              <small class="text-muted">{{ post.ID }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.NAME }} {{ post.SURNAME }}</a></h2>
            <p class="article-content">E-Mail  : {{ post.EMAIL }}</p>
            <p class="article-content">Phone   : {{ post.PHONE }}</p>
            <p class="article-content">Salary  : {{ post.SALARY }} PLN</p>
            <p class="article-content">Off Day : {{ post.OFF_DAY }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
