{% extends 'hospital/base.html' %}
{% block content %}
    {% for post in abc %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Visit process id : {{ post.ID }}</a>
            </div>
              <h3><a class="article-title" href="#">Visit ID  : {{ post.VISIT_ID }}</a></h3>
              <h3><a class="article-title" href="#">Diagnosis ID : {{ post.DIAGNOSIS_ID }}</a></h3>
            <p class="article-content">Process Date  : {{ post.PROCESS_DATE }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
